/* Main */
body{
	font-family:Calibri;
}

article{
	margin-left:300px;
	margin-right:0px;
	padding:0px;
}

header>p {
	text-align:center;
	font-family:Calibri;
	color:#444444;
}

header,
section{
	background-color:#F6F6F6;
	padding:10px 2%;
	font-size:12pt;
	border:#DDDDDD 1px solid;
	border-radius:5px;
	-moz-border-radius:5px; /* Old Firefox */
	max-width:800px;
	margin:10px auto;
}
h1{
	color:#444444;
	text-align:center;
}

p{
	text-align:justify;
	font-family:Calibri;
}

h1,h2,h3,h4{
	font-family:Cambria;
}

h2{
	font-size:14pt;
	font-weight:Bold;
	color:#746842;
	text-align:left;
}

/* TOC */
.toc {
    top: 0px;
    left: 0px;
    height: 100%;
	overflow:scroll;
    position: fixed;
    background: #333;
    box-shadow: inset -5px 0 5px 0px #000;
    width: 300px;
    padding-top: 20px;
    color: #fff;
	font-family:Calibri;
}

.toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.toc li {
    padding: 5px 10px;
}

.toc a {
    color: #fff;
    text-decoration: none;
	content: leader('.') target-counter(attr(href), page);
    display: block;
}
.toc a:after {
	content: leader('.') target-counter(attr(href), page);
}

.toc .toc-h1 {
    padding-left: 0px;
	font-weight:bold;
}

.toc .toc-h2 {
    padding-left: 20px;
	font-weight:bold;
}

.toc .toc-h3 {
    padding-left: 40px;
}

.toc .toc-active {
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;
}


/* Innledning */
body{
	counter-reset: section;
}
h2{
	counter-reset: sub-section;
}
h3{
	counter-reset: composite;
}
h4{
	counter-reset: detail;
}

h2:before{
	counter-increment: section;
	content: counter(section) ". ";
}
h3:before{
	counter-increment: sub-section;
	content: counter(section) "." counter(sub-section) ". ";
}
h4:before{
	counter-increment: composite;
	content: counter(section) "." counter(sub-section) "." counter(composite) ". ";
}
h5:before{
	counter-increment: detail;
	content: counter(section) "." counter(sub-section) "." counter(composite) "." counter(detail) ". ";
}

p{
	text-align:justify;
}

blockquote.eksempel{
    background: #F6F6F6;
	padding:15px 20px;
	border:#DDDDDD 1px solid;
	border-radius:5px;
	-moz-border-radius:5px; /* Old Firefox */
}
/* Tesaurus */
.grunnlag,
.systematisk,
.alfabetisk {
	font-family:monospace;
}
.grunnlag h3,
.systematisk h3{
	font-size:12pt;
	display:inline;
	margin:0px;
	padding:0px;
}
.grunnlag h3:before,
.systematisk h3:before{
	counter-increment: sub-section;
	content: "";
}

.grunnlag .conceptFamily,
.systematisk .conceptFamily{
	background-color:#EEEEEE;
	padding:10px 20px;
	margin:10px auto;
	font-size:12pt;
	border:#DDDDDD 1px solid;
	border-radius:5px;
	-moz-border-radius:5px; /* Old Firefox */
}
.grunnlag .topConcept{
}

.grunnlag .status{
	left:40px;
	position:relative;
}
.grunnlag .node{
	left:40px;
	position:relative;
}
.grunnlag .node .node .nodeLabel{
	left:5px;
	position:relative;
	text-decoration:underline;
	font-style:italic;
}
.grunnlag .nodeLabel{
	left:0px;
	position:relative;
	text-decoration:underline;
	font-style:italic;
}

.systematisk .conceptFamily{
	padding-left:50px;
	
}
.systematisk .node{
	left:0px;
	position:relative;
}

.systematisk .nodeLabel{
	left:10px;
	position:relative;
	text-decoration:underline;
	font-style:italic;
}

.grunnlag .node {
    border-left: 1px solid #999999;
    padding-left: 10px;
	left:30px;
	padding-right:20px;
}
.grunnlag .sub {
    position: relative;
	padding-right:20px;
	text-indent:-10px;
	padding-left:10px;
    width: fit-content;
}
.grunnlag .sub:before {
    border-top: 1px solid #999999;
    content: '';
    left: -10px;
    position: absolute;
    top: .666em;
    width: .5em;
}

.systematisk .node {
    border-left: 1px solid #999999;
    padding-left: 0px;
	left:40px;
    width: fit-content;
}
.systematisk .sub {
    position: relative;
    width: fit-content;
}
.systematisk .lex:before {
    border-top: 1px solid #999999;
    content: '';
    left: 0px;
    position: absolute;
    top: .666em;
    width: .5em;
}

.grunnlag .lex{
	padding-left: 10px;
}

.systematisk .lex{
	padding-left: 10px;
}

.term{
	background-color:#EEEEEE;
	padding:10px 20px;
	margin:10px auto;
	font-size:12pt;
	border:#DDDDDD 1px solid;
	border-radius:5px;
	-moz-border-radius:5px; /* Old Firefox */
}
.term div:not(.scopeNote){
    max-width: 500px;
}

.alfabetisk .identifier {
    margin-right: 40px;
	text-align:right;
	width:30px;
	display:inline-block;
	float:right;
}
.identifier {margin-right:0px; text-align:right; width:0px; display:inline-block;}
.conceptFamily .identifier {	left:-30px;	position:relative;}
.node .identifier {	left:-71px;	position:relative;}
.sub .node .identifier {	left:-112px;	position:relative;}
.sub .sub .node .identifier {	left:-153px;	position:relative;}
.sub .sub .sub .node .identifier {	left:-194px;	position:relative;}
.sub .sub .sub .sub .node .identifier {	left:-235px;	position:relative;}
.sub .sub .sub .sub .sub .node .identifier {	left:-276px;	position:relative;}
.sub .sub .sub .sub .sub .sub .node .identifier {	left:-317px;	position:relative;}

/*
.sub .sub .sub .sub .sub .sub .sub .node .identifier {	left:-358px;	position:relative;}
.sub .sub .sub .sub .sub .sub .sub .sub .node .identifier {	left:-399px;	position:relative;}
.sub .sub .sub .sub .sub .sub .sub .sub .sub .node .identifier {	left:-440px;	position:relative;}
.sub .sub .sub .sub .sub .sub .sub .sub .sub .sub .node .identifier {	left:-481px;	position:relative;}
.sub .sub .sub .sub .sub .sub .sub .sub .sub .sub .sub .node .identifier {	left:-522px;	position:relative;}
.sub .sub .sub .sub .sub .sub .sub .sub .sub .sub .sub .sub .node .identifier {	left:-563px;	position:relative;}
.sub .sub .sub .sub .sub .sub .sub .sub .sub .sub .sub .sub .sub .node .identifier {	left:-604px;	position:relative;}
*/
.systematisk .status{
	left:50px;
	position:relative;
    width: fit-content;
}

.preferredTerm{
}

.use{
}

.useFor{
	text-indent:-39px;
	margin-left:39px
}

.nonPreferredTerm{
}

.broaderTerm{
}

.narrowerTerm{
	text-indent:-39px;
	margin-left:39px
}

.relatedTerm{
	text-indent:-39px;
	margin-left:39px
}
footer{
	text-align:center;
}

.litteratur a{
    word-wrap:break-word;
}